version: "3.9"
services:
  backend:
    build: ./backend
    container_name: backend_container
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "8081:80"
    volumes:
      - ./frontend/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

